<div class="row">
    <div class="col-12">
        <div><button routerLink="/cliente" class="btn btn-success"><i class="fa address-card"></i>Agregar Cliente</button></div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clientes</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Edad</th>
                            <th>Fecha de Muerte</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{cliente.Nombre}}</td>
                            <td>{{cliente.Apellido}}</td>
                            <td>{{cliente.FechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                            <td>{{cliente.Edad}}</td>
                            <td>{{cliente.FechaProbableMuerte | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button (click)="borrarCliente( cliente )" class="btn btn-danger"><i class="fa fa-trash"></i>Borrar</button>
                            </td>
                            <td><button [routerLink]="['/cliente', cliente._id]" class="btn btn-dark"><i class="fa fa-user-circle"></i>Actualizar</button></td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-estadistica></app-estadistica>
    </div>
</div>